@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap-icons/font/bootstrap-icons.css";

.text-shadow {
  text-shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

/* Global Styles (global.css) */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden; /* Menyembunyikan scroll horizontal */
}